:root {
    --color-white: white;
    --color-purple: #C271FF;
    --color-dark: #071629;
    --color-text:#07152780;

    --font-family-base:'Source Sans Pro';
    --font-weight-small: 300;
    --font-weight-meduim: 400;
    --font-weight-large: 700;
}
/* = BASED = */
* {
    font-family: var(--font-family-base);
    margin: 0;
    padding: 0;
}
/* = END BASED = */

html{
    height: 100%;
}
body {
    background: url("./images/Object.png") center/cover no-repeat;
    background-position-y: 0%;
}
.banner {
    align-items: center;
    text-align: center;
}
main {
    position: relative;
    top: 0;
}
.section {
    align-items: center;
    text-align: center;
}
a{
    text-decoration: none;
}
button:hover {
    cursor: pointer;
    opacity: .9;
}

/* ============== HEADER ============ */
header {
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    padding: 2rem 6rem;
}
header .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
header .navbar a {
    color: var(--color-white);
    font-size: 12px;
    font-weight: var(--font-weight-large);
}
header .navbar a:hover {
    color: var(--color-purple);
}
/* ============== END HEADER ============ */

/* ============== SECTION1 ============ */
.section .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
}

.banner div h1 {
    color: var(--color-white);
    font-size: 8rem;
    font-weight: var(--font-weight-large);
}
.banner div h1+p {
    word-spacing: 60px;
    color: var(--color-white);
    font-size: 1rem;
    font-weight: var(--font-weight-large);
    margin-bottom: 50px;
}
.banner div button {
    width: 170px;
    height: 44px;
    border-radius: 22px;
    background: var(--color-purple);
    border: none;
    box-shadow: 1px 1px 10px rgb(49, 49, 49);
    color: var(--color-white);
    font-size: 14px;
    font-weight: var(--font-weight-meduim);
    padding: 10px;
    margin-bottom: 3.5rem;
}
.banner div span {
    color: var(--color-purple);
    font-size: 32px;
    font-weight: var(--font-weight-large);
}
.banner div h2 {
    color: var(--color-white);
    font-size: 32px;
    font-weight: var(--font-weight-small);
    margin-bottom: 80px;
}
.banner .users {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
}
.banner .users img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-bottom: 10px;
}
.banner .users div h3 {
    color: var(--color-white);
    font-size: 18px;
    font-weight: 900;
    line-height: 27px; 
}
.banner .users div p {
    color: var(--color-white);
    font-size: 16px;
    font-style: italic;
    font-weight: 100;
    line-height: 24px;
}
/* ============== END SECTION1 ============ */

/* ============== SECTION2 ============ */
.quotes {
    padding: 100px;
    background: var(--color-purple);
}
.quotes .q {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.quotes #content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.quotes .q div q {
    color: var(--color-white);
    font-size: 22px;
    font-weight: 100;
    line-height: 33.6px;
    margin-bottom:30px ;
}
.quotes .q div q+p {
    color: var(--color-white);
    font-size: 22px;
    font-weight: var(--font-weight-large);
    line-height: 33.6px;
}
.quotes .q div q+p+p {
    color: var(--color-white);
    font-size: 22px;
    font-style: italic;
    font-weight: var(--font-weight-meduim);
    line-height: 33.6px;
}
/* ============== END SECTION2 ============ */

/* ============== SECTION3 ============ */
.videos-list {
    padding: 100px;
    background: var(--color-white);
}
.videos-list h1 {
    color: var(--color-purple);
    font-size: 32px;
    font-weight: var(--font-weight-small);
    margin-bottom: 60px;
}
.videos-list h1 span {
    color: var(--color-purple);
    font-size: 32px;
    font-weight: var(--font-weight-large);
}
.videos-list .videos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.video {
    text-align: start;
}
.video h2 {
    color: #071629;
    font-size: 16px;
    font-weight: var(--font-weight-large);
    margin: 10px 0px;
}
.video h2+p {
    color: rgba(7, 22, 41, 0.50);
    font-size: 14px;
    font-weight: var(--font-weight-meduim);
    line-height: 24px;
    margin-bottom: 10px;
}
.video .ph {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    color: var(--color-purple);
}
.ph img {
    width: 30px;
    height: 30px;
}
.ph h3 {
    color: var(--color-purple);
    font-size: 14px;
    font-weight: 600;
    line-height: 27px;
}
.video .rate {
    display: flex;
    align-items: center;
    gap: 100px;
    color: var(--color-purple);
}
.rate p {
    color: var(--color-purple);
    font-size: 14px;
    font-weight: 600;
    line-height: 27px;
}
/* ============== END SECTION3 ============ */

/* ============== SECTION4 ============ */
.membership{
    padding-top: 100px;
    padding-bottom: 50px;
    background: #071629;
}
.membership h1 {
    color: var(--color-white);
    font-size: 32px;
    font-weight: var(--font-weight-small);
}
.membership h1 span {
    color: var(--color-purple);
    font-size: 32px;
    font-weight: var(--font-weight-large);
}
.membership #smiles {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}
.membership button {
    width: 170px;
    height: 44px;
    border-radius: 22px;
    background: var(--color-purple);
    border: none;
    margin-top: 100px;
    color: var(--color-white);
    font-size: 12px;
    font-weight: 600;
    padding: 10px;
    box-shadow: 4px 4px 4px black;
}
#smiles h2 {
    color: var(--color-white);
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    margin-top: 20px;
}
#smiles p {
    color: var(--color-white);
    font-size: 14px;
    font-weight: var(--font-weight-meduim);
    line-height: 26px;
    margin-top: 10px;
}
/* ============== END SECTION4 ============ */

/* ============== SECTION5 ============ */
.FAQ {
    padding-top: 100px;
    padding-bottom: 50px;
    background: var(--color-white);
}
.FAQ h1 {
    color: #071629;
    font-size: 60px;
    font-weight: var(--font-weight-small);
    margin-bottom: 70px;
}
.FAQ .faq {
    text-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 250px;
    margin-bottom: 100px;
}
.faq h2 {
    color: #071629;
    font-size: 16px;
    font-weight: var(--font-weight-large);
    margin-bottom: 20px;
}
.faq p {
    color: rgba(7, 22, 41, 0.50);
    font-size: 14px;
    font-weight: var(--font-weight-meduim);
    line-height: 24px;
}
/* ============== END SECTION4 ============ */

/* ============== FOOTER ============ */
.foot {
    padding-top: 100px;
    padding-bottom: 30px;
    background: #071629;
}
.foot div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}
.foot p {
    color: var(--color-white);
    font-size: 12px;
    font-weight: var(--font-weight-meduim);
    opacity: 0.3517;
}
/* ============== END FOOTER ============ */

/* ============== RESPONSIVE ============ */
@media (min-width:0px) and (max-width:480px) {
    header .navbar {
        display: none;
    }
    header {
        padding:30px 90px;
    }
    .banner .title h1 {
        text-align: center;
        font-size: 30px;
        width: auto;
    }
    .banner .title p {
        word-spacing:8px;
    }
    .q {
        padding:30px 20px;
        flex-wrap: wrap;
        width: auto;
    }
    .users {
        padding:30px 20px;
        flex-wrap: wrap;
        width: auto;
    }
    .videos {
        padding:30px 20px;
        flex-wrap: wrap;
        width: auto;
    }
    #smiles {
        padding:30px 20px;
        flex-wrap: wrap;
        width: auto;
    }
    .faq {
        padding:30px 20px;
        flex-wrap: wrap;
        width: auto;
    }
    .foot div {
        flex-direction: column;
        width: auto;
        gap: 30px; 
    }
}

@media (min-width:481px) and (max-width:1050px) {
    header .navbar {
        display: none;
    }
    header {
        padding:30px;
    }
    .banner .title p {
        word-spacing:8px;
    }
    .q {
        padding:30px 20px;
        flex-wrap: wrap;
        width: auto;
    }
    .users {
        padding:30px 20px;
        flex-wrap: wrap;
        width: auto;
    }
    .videos {
        padding:30px 20px;
        flex-wrap: wrap;
        width: auto;
    }
    #smiles {
        padding:30px 20px;
        flex-wrap: wrap;
        width: auto;
    }
    .faq {
        padding:30px 20px;
        flex-wrap: wrap;
        width: auto;
    }
}
/* ============== END RESPONSIVE ============ */
