:root {
        /* COLORS var */
    --color-white: white;
    --color-black: black;
    --color-purple: #C271FF;
    --color-dark: #071629;
    --color-text: #07152780;
        /* FONT var */
    --font-family-base:'Source Sans Pro';
    --font-size-2x-small: 0.75rem;
    --font-size-x-small: 0.875rem;
    --font-size-small: 1rem;
    --font-size-meduim: 1.125rem;
    --font-size-large: 1.37rem;
    --font-size-x-large: 2rem;
    --font-size-xx-large: 3.75rem;
    --font-size-3x-large: 7.5rem;
    --font-weight-small: 300;
    --font-weight-meduim: 400;
    --font-weight-large: 700;
        /* BUTTON var */
    --box-shadaw: 1px 1px 10px rgb(49, 49, 49);
}
/* = BASED = */
* {
    font-family: var(--font-family-base);
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}
body {
    background: url("./media/Object.png") center/cover no-repeat;
    background-position-y: 0%;
    background-color: var(--color-dark);
}
.banner {
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
}
main {
    position: relative;
    top: 0;
}
.section {
    align-items: center;
    text-align: center;
}
a{
    text-decoration: none;
}
button:hover {
    cursor: pointer;
    opacity: .9;
}
/* = END BASED = */

/* ============== HEADER ============ */
header {
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    padding: 2rem 6rem;
}
header .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
header .navbar a {
    color: var(--color-white);
    font-size: var(--font-size-2x-small);
    font-weight: var(--font-weight-large);
}
header .navbar a:hover {
    color: var(--color-purple);
}
/* ============== END HEADER ============ */

/* ============== MAIN ============ */

/* ===== BANNER =====*/
.banner .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
}

.banner .title h1 {
    color: var(--color-white);
    font-size: var(--font-size-3x-large);
    font-weight: var(--font-weight-large);
}
.banner .title h1+p {
    word-spacing: 60px;
    color: var(--color-white);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-large);
    margin-bottom: 50px;
}
.banner .title button {
    width: 170px;
    height: 44px;
    border-radius: 22px;
    background: var(--color-purple);
    border: none;
    box-shadow: var(--box-shadaw);
    color: var(--color-white);
    font-size: var(--font-size-x-small);
    font-weight: var(--font-weight-meduim);
    padding: 10px;
    margin-bottom: 3.5rem;
}
.banner .team-container h2 span {
    color: var(--color-purple);
    font-size: var(--font-size-x-large);
    font-weight: bold;
}
.banner .team-container h2 {
    color: var(--color-white);
    font-size: var(--font-size-x-large);
    font-weight: var(--font-weight-small);
    margin-bottom: 80px;
}
.banner .team {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
}
.banner .team img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-bottom: 10px;
}
.banner .team .team-member h3 {
    color: var(--color-white);
    font-size: 18px;
    font-weight: 900;
    line-height: 27px; 
}
.banner .team .team-member p {
    color: var(--color-white);
    font-size: 16px;
    font-style: italic;
    font-weight: 100;
    line-height: 24px;
}
/* ===== END BANNER ===== */

/* ===== QUOTE ===== */
.quotes {
    padding: 100px;
    background: var(--color-purple);
}
.quotes .q {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.quotes #content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.quotes .q div q {
    color: var(--color-white);
    font-size: 22px;
    font-weight: 100;
    line-height: 33.6px;
    margin-bottom:30px ;
}
.quotes .q div q+p {
    color: var(--color-white);
    font-size: 22px;
    font-weight: var(--font-weight-large);
    line-height: 33.6px;
}
.quotes .q div q+p+p {
    color: var(--color-white);
    font-size: 22px;
    font-style: italic;
    font-weight: var(--font-weight-meduim);
    line-height: 33.6px;
}
/* ===== END QUOTE ===== */

/* ===== VIDEO ===== */
.videos-list {
    padding: 100px;
    background: var(--color-white);
}
.videos-list h1 {
    color: var(--color-purple);
    font-size: 32px;
    font-weight: var(--font-weight-small);
    margin-bottom: 60px;
}
.videos-list h1 span {
    color: var(--color-purple);
    font-size: 32px;
    font-weight: var(--font-weight-large);
}
.videos-list .videos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.video {
    text-align: start;
}
.video h2 {
    color: var(--color-dark);
    font-size: 16px;
    font-weight: var(--font-weight-large);
    margin: 10px 0px;
}
.video h2+p {
    color: var(--color-text);
    font-size: var(--font-size-x-small);
    font-weight: var(--font-weight-meduim);
    line-height: 24px;
    margin-bottom: 10px;
}
.video .ph {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    color: var(--color-purple);
}
.ph img {
    width: 30px;
    height: 30px;
}
.ph h3 {
    color: var(--color-purple);
    font-size: var(--font-size-x-small);
    font-weight: 600;
    line-height: 27px;
}
.video .rate {
    display: flex;
    align-items: center;
    gap: 100px;
    color: var(--color-purple);
}
.rate p {
    color: var(--color-purple);
    font-size: var(--font-size-x-small);
    font-weight: 600;
    line-height: 27px;
}
/* ===== END VIDEO ===== */

/* ===== MEMBERSHIP ===== */
.membership{
    padding-top: 100px;
    padding-bottom: 50px;
    background: var(--color-dark);
}
.membership h1 {
    color: var(--color-white);
    font-size: 32px;
    font-weight: var(--font-weight-small);
}
.membership h1 span {
    color: var(--color-purple);
    font-size: 32px;
    font-weight: var(--font-weight-large);
}
.membership #smiles {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}
.membership button {
    width: 170px;
    height: 44px;
    border-radius: 22px;
    background: var(--color-purple);
    border: none;
    margin-top: 100px;
    color: var(--color-white);
    font-size: var(--font-size-2x-small);
    font-weight: 600;
    padding: 10px;
    box-shadow: var(--box-shadaw)
}
#smiles h2 {
    color: var(--color-white);
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    margin-top: 20px;
}
#smiles p {
    color: var(--color-white);
    font-size: var(--font-size-x-small);
    font-weight: var(--font-weight-meduim);
    line-height: 26px;
    margin-top: 10px;
}
/* ===== END MEMBERSHIP ===== */

/* ===== FAQ ===== */
.FAQ {
    padding-top: 100px;
    padding-bottom: 50px;
    background: var(--color-white);
}
.FAQ h1 {
    color: var(--color-dark);
    font-size: 60px;
    font-weight: var(--font-weight-small);
    margin-bottom: 70px;
}
.FAQ .faq {
    text-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 250px;
    margin-bottom: 100px;
}
.faq h2 {
    color: #071629;
    font-size: 16px;
    font-weight: var(--font-weight-large);
    margin-bottom: 20px;
}
.faq p {
    color: var(--color-text);
    font-size: var(--font-size-x-small);
    font-weight: var(--font-weight-meduim);
    line-height: 24px;
}
/* ===== END FAQ ===== */

/* ============== FOOTER ============ */
.foot {
    padding-top: 100px;
    padding-bottom: 30px;
    background: #071629;
}
.foot div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}
.foot p {
    color: var(--color-white);
    font-size: var(--font-size-2x-small);
    font-weight: var(--font-weight-meduim);
    opacity: 0.3517;
}
/* ============== END FOOTER ============ */

/* ============== RESPONSIVE ============ */
@media (min-width:0px) and (max-width:480px) {
    header .navbar {
        display: none;
    }
    header {
        padding:30px 90px;
    }
    .banner .title h1 {
        text-align: center;
        font-size: 30px;
        width: auto;
    }
    .banner .title p {
        word-spacing:8px;
    }
    .q {
        padding:30px 20px;
        flex-wrap: wrap;
        width: auto;
    }
    .users {
        padding:30px 20px;
        flex-wrap: wrap;
        width: auto;
    }
    .videos {
        padding:30px 20px;
        flex-wrap: wrap;
        width: auto;
    }
    #smiles {
        padding:30px 20px;
        flex-wrap: wrap;
        width: auto;
    }
    .faq {
        padding:30px 20px;
        flex-wrap: wrap;
        width: auto;
    }
    .foot div {
        flex-direction: column;
        width: auto;
        gap: 30px; 
    }
}

@media (min-width:481px) and (max-width:1050px) {
    header .navbar {
        display: none;
    }
    header {
        padding:30px;
    }
    .banner .title p {
        word-spacing:8px;
    }
    .q {
        padding:30px 20px;
        flex-wrap: wrap;
        width: auto;
    }
    .users {
        padding:30px 20px;
        flex-wrap: wrap;
        width: auto;
    }
    .videos {
        padding:30px 20px;
        flex-wrap: wrap;
        width: auto;
    }
    #smiles {
        padding:30px 20px;
        flex-wrap: wrap;
        width: auto;
    }
    .faq {
        padding:30px 20px;
        flex-wrap: wrap;
        width: auto;
    }
}
/* ============== END RESPONSIVE ============ */
